<div class="login">
    <form method="post" action="login/singin" class="login_form">
        <div class="login_form_content">
            <div class="login_form_content-heading d-flex justify-content-between login_form_content-item">
                <h1>Sign In</h1>
                <a href="/"><i class="fa-solid fa-arrow-left fa-2xl"></i></a>
            </div>
            <div class="login_form_content-input login_form_content-item">
                <input name="username" type="text" id="user-login_input" placeholder="User name">
            </div>
            <div class="login_form_content-input login_form_content-item">
                <input name="password" type="password" id="password-login_input" placeholder="Password">
            </div>
            <div class="login_form_content-btn login_form_content-item">
                <button type="submit" id="submit-login" href="">SIGN IN</button>
            </div>
            <span>or</span>
            <div class="login_form_content-btn login_form_content-item">
                <a id="go-to-singup" href="/register">SIGN UP</a>
            </div>
        </div>
    </form>
</div>