.cart .not_login-ntf, .cart .empty_cart-ntf-img, .cart .empty_cart-ntf-content, .cart .empty_cart-ntf-content a, .cart-table tr:last-child td a {
  display: flex;
  justify-content: center;
  align-items: center; }

#to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: #0000009c;
  color: #fff;
  transition: all .5s;
  opacity: 0; }

.cart {
  min-height: 400px;
  padding: 40px 0; }
  .cart .not_login-ntf {
    height: 100px; }
    .cart .not_login-ntf_content {
      text-align: center; }
      .cart .not_login-ntf_content h2 {
        margin: 30px 0; }
      .cart .not_login-ntf_content a {
        padding: 15px 40px;
        border-radius: 20px;
        background-color: #000;
        color: #fff; }
  .cart .empty_cart-ntf-img {
    background: rgba(124, 122, 122, 0.493); }
    .cart .empty_cart-ntf-img img {
      height: 200px;
      mix-blend-mode: color-burn; }
  .cart .empty_cart-ntf-content {
    flex-direction: column;
    padding: 20px 0; }
    .cart .empty_cart-ntf-content h1 {
      margin: 10px 0; }
    .cart .empty_cart-ntf-content span {
      font-size: 1.4rem; }
    .cart .empty_cart-ntf-content a {
      margin: 10px 0;
      width: 150px;
      height: 40px;
      border-radius: 20px;
      background-color: #000;
      color: #fff; }
  .cart-table tr {
    text-align: center;
    border-bottom: 1px solid #6a6a6a;
    height: 45px; }
    .cart-table tr th {
      font-size: 1.5rem; }
    .cart-table tr td {
      font-size: 1.4rem;
      font-weight: 500; }
      .cart-table tr td span {
        font-size: 1.6rem;
        color: red; }
      .cart-table tr td a {
        color: black; }
      .cart-table tr td input {
        width: 0;
        transform: scale(0); }
  .cart-table tr:first-child {
    background-color: #000000;
    color: #fff; }
  .cart-table tr:last-child {
    color: #ffffff;
    background-color: #000000; }
    .cart-table tr:last-child td {
      font-size: 1.8rem; }
      .cart-table tr:last-child td a {
        width: 100px;
        height: 45px;
        margin: 5px 0;
        border-radius: 5px;
        color: #000;
        background-color: #ffffff; }
