.info_content {
  display: flex;
  justify-content: center;
  align-items: center; }

#to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: #0000009c;
  color: #fff;
  transition: all .5s;
  opacity: 0; }

.info_heading {
  width: 100%;
  background-color: black; }
  .info_heading div {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .info_heading div h1 {
      color: #fff; }
    .info_heading div img {
      height: 110%; }

.info_content {
  flex-direction: column; }
  .info_content_name {
    padding: 20px 0; }
    .info_content_name i {
      padding: 20px;
      margin-right: 10px;
      color: #fff;
      border-radius: 50%;
      background-color: #000; }
    .info_content_name div h2 {
      font-size: 1.8rem; }
  .info_content_form {
    width: 550px; }
    .info_content_form-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0; }
      .info_content_form-item label {
        font-size: 1.2rem;
        font-weight: 600; }
      .info_content_form-item input {
        width: 80%;
        height: 45px;
        padding-left: 10px;
        font-size: 1.5rem;
        font-weight: 600; }
      .info_content_form-item button {
        width: 100px;
        height: 45px;
        border-radius: 5px;
        background-color: #000;
        color: #fff; }
    .info_content_form-item:last-child {
      justify-content: end; }
