.info {
    &_heading {
        width: 100%;
        background-color: rgb(0, 0, 0);

        div {
            height: 150px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                color: $whiteColor;
            }

            img {
                height: 110%;
            }
        }
    }

    &_content {
        @extend %center-align;
        flex-direction: column;

        &_name {
            padding: 20px 0;

        }

        &_form {
            width: 550px;

            &-item {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 15px;

                label {
                    font-size: 1.2rem;
                    font-weight: 600;
                }

                input {
                    width: 80%;
                    height: 45px;
                    padding-left: 10px;
                    font-size: 1.5rem;
                    font-weight: 600;
                }

                button {
                    width: 80%;
                    height: 45px;
                    border-radius: $radius;
                    background-color: $blackColor;
                    color: $whiteColor;
                }
            }

            &-item:last-child {
                justify-content: end;
            }
        }

    }

    &_order {
        @extend %center-align;
        flex-direction: column;

        .info_order_name {
            padding: 20px 0;
        }

        table {
            width: 100%;

            tr {
                text-align: center;
                border: 1px solid #6a6a6a;
                height: 45px;

                th {
                    font-size: 1.5rem;
                }

                td {
                    border: 1px solid #6a6a6a;
                    font-size: 1.4rem;
                    font-weight: 500;
                }
            }

            tr:first-child {
                background-color: #000000;
                color: $whiteColor;
            }

        }
    }
}