@import 'var.scss';
#shop-page{
    padding-top: 50px;
    .filter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_nav{
            a{
                margin-right: 10px;
                padding: 10px 20px;
                border-radius: $radius;
                background-color: $navFilterColor;
                color: $whiteColor;
            }
            
        }
        &_sort{
            label{
                font-size: 1.5rem;
                margin-right: 5px;
            }
            select{
                width: 100px;
                aspect-ratio: 3/1;
                outline: none;
                border-radius: $radius;
                font-size: 1.3rem;
            }
        }
    }
    .product-quality{
        margin: 20px auto;
    }
    .products{
        .card{
            &-body{
                a{
                    padding: 5px 15px;
                    font-size: 1.3rem;
                    color: $whiteColor;
                    border-radius: $radius;
                }
            }
        }
    }
}