<section class="container-fluid p-0 abu">
    <div class="abu_banner container-fluid">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="abu_banner_left col-6">
                    <a href="/" class="d-flex">
                        <span><i class="fa-solid fa-arrow-left-long"></i></span>
                        <h3>Back to Home</h3>
                    </a>
                    <div class="abu_banner_left-heading">
                        <h1>About Us</h1>
                        <p>At AboutUs, we are a dynamic and innovative company committed to providing comprehensive
                            information and valuable insights on a wide range of topics.</p>
                    </div>
                </div>
                <div class="abu_banner_right col-6">
                    <img src="images/banner/bn_aboutUs.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="abu_story container">
        <div class="abu_story_item container">
                <div class="row">
                    <div class="abu_story_item-title col-4 ">
                        <h1>Stories, Volume 3: All Movement, All Moments
                        </h1>
                        <a href="">Explore the latest stories ></a>
                    </div>
                    <div class="abu_story_item-image col-8 ">
                        <img src="images/story_img_abu/str_img-1.png" alt="">
                    </div>
                </div>
        </div>
        <div class="abu_story_item container">
                <div class="row">
                    <div class="abu_story_item-image col-8">
                        <img src="images/story_img_abu/str_img-2.png" alt="">
                    </div>
                    <div class="abu_story_item-title col-4">
                        <h1>NIKE, Inc: Keeping athletes at the center of everything we do.</h1>
                        <a href="">Learn more about NIKE, Inc. ></a>
                    </div>
                </div>
        </div>
        <div class="abu_story_item container">
                <div class="row">
                    <div class="abu_story_item-title col-4 ">
                        <h1>Our Impact: Breaking Barriers Since 1972</h1>
                        <a href="">Learn more ></a>
                    </div>
                    <div class="abu_story_item-image col-8 ">
                        <img src="images/story_img_abu/str_img-3.png" alt="">
                    </div>
                </div>
        </div>
</section>
