<footer class="container-fluid">
    <div class="footer container">
        <div class="row">
            <div class="footer_item categories col-md-3 col-6">
                <h1>CATEGORIES</h1>
                <div class="footer_item-content">
                    <a href="">Women</a>
                    <a href="">Men</a>
                    <a href="">Kid</a>
                    <a href="">Shop</a>
                </div>
            </div>
            <div class="footer_item help-footer col-md-3 col-6">
                <h1>HELP</h1>
                <div class="footer_item-content">
                    <a href="">Track Order</a>
                    <a href="">Return</a>
                    <a href="">Shipping</a>
                    <a href="">FAQs</a>
                </div>
            </div>
            <div class="footer_item get-in-touch col-md-3 col-sm-6 col-12">
                <h1>GET IN TOUCH</h1>
                <div class="footer_item-content">
                    <p>Any questions? Let us know at the store in Nghiem Xuan Yem, Hoang Mai, Ha Noi or give us a call
                        at (+84) 344 618 185</p>
                    <div class="social-contacts">
                        <a href=""><i class="fa-brands fa-square-facebook fa-xl"></i></a>
                        <a href=""><i class="fa-brands fa-instagram fa-xl"></i></a>
                        <a href=""><i class="fa-brands fa-square-twitter fa-xl"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer_item news-letter col-md-3 col-sm-6 col-12">
                <h1>NEWSLETTER</h1>
                <div class="footer_item-content">
                    <input type="email" name="" placeholder="email@example.com" id="">
                    <button class="footer-btn">SUBSCRIBE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="pay-method container">
        <div class="row d-flex justify-content-center">
            <div class="pay-method_item" style="background-image: url(/images/payMethod/paypal.png);"></div>
            <div class="pay-method_item" style="background-image: url(/images/payMethod/viettelpay.png);"></div>
            <div class="pay-method_item" style="background-image: url(/images/payMethod/visa.png);"></div>
            <div class="pay-method_item" style="background-image: url(/images/payMethod/vnpay.png);"></div>
        </div>
        <div class="copyright container d-flex align-items-lg-center justify-content-center">
            <span>Copyright ©2023 All rights reserved | This template is made with by &nbsp
                <a href="https://www.facebook.com/DLong.wl/"> Nguyen Duc Long</a>
            </span>
        </div>
    </div>
</footer>
<script>
    if (currentURL.includes('edit') || currentURL.includes('login') || currentURL.includes('register') || currentURL.includes('admin')) {
        document.querySelector('footer').style.display = 'none'
    }
</script>